*{
    margin: 0%;
    padding: 0%;
}
body{
    box-sizing: border-box;
    width: 50%;
}
.container{
    background-image: url('image/logo.png');
    height: 50dvh;
    width: 200%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container1{
    position: absolute;
    background-image: url('image/pic1.png');
    height: 165px;
    width: 22dvh;
    margin-left: 50px;
    top: 60px;
    border-radius: 90px;
}
.container h1{
    position: absolute;
    color: white;
    margin-left: 20%;
    top:15%;
    animation-name: example;
    animation-duration: 4s
}
@keyframes example{
    0% {margin-left: 0%; top: 0%; }
    25% {margin-left: 20%; top: 15%;}
}
.text1 p{
    font-size: 18px;
    position: absolute;
    color: skyblue;
    margin-left: 25%;
    top: 25%;
}
.text2 p{
    font-size: 18px;
    position: absolute;
    color: skyblue;
    margin-left: 25%;
    top: 29%;
}
.text3 p{
    font-size: 18px;
    position: absolute;
    color: skyblue;
    margin-left: 25%;
    top: 33%;
}
.text4 p{
    font-size: 18px;
    position: absolute;
    color: skyblue;
    margin-left: 25%;
    top: 37%;
}
.mail li{
    position: absolute;
    right: 100px;
    top: 325px;
    symbols: #9992;
}
.mail li a{
    color: red;
    display: inline;
    font-size: 50px;
}
.mail li a{
    text-decoration: none;
}
.header ul{
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 25px;
}
.header ul li{
    display: inline;
    margin-right: 60px;
}
.header ul li a{
    color: white;
    display: inline;
    text-decoration: none;
}
.container2{
    background-color: bisque;
    width: 48%;
    height: 100%;
    position: absolute;
    margin-top:2%;
    margin-left: 20px;
    border-radius: 30px;
}
button{
    position: absolute;
    font-family: "poppines",sans-serif;
    font-size: 10px;
    padding: 1em 2em;
    border-radius: 2em;
    border: 5px solid #ffff;
    background-color: transparent;
    letter-spacing: 1.5px;
    cursor: pointer;
    outline: none;
    margin-top: 20%;
    margin-left: 5%;
    color: white;
}
.container3{
    background-image: url('image/soft.png');
    position: absolute;
    width: 40%;
    height: 40%;
    margin-left: 5%;
    margin-top: 10%;
    border-radius: 10px;
}
.container4{
    background-color:skyblue;
    width: 49%;
    height: 100%;
    position: absolute;
    margin-left: 50%;
    margin-top: 2%;
    border-radius: 30px;
}
.img{
    position: absolute;
    background-image: url(image/iot.png);
    height: 177px;
    width: 300px;
    border-color: black;
    border-radius: 5%;
    margin-top: 55%;
    margin-left: 26%;
}
.container6{
    position: absolute;
    background-color: lightgray;
    width: 98%;
    height: 50%;
    margin-top: 8%;
    margin-left: 20px;
    margin-bottom: 10%;
    border-radius: 30px;
}
.img1{
    position: absolute;
    background-image: url(image/cs.png);
    height: 250px;
    width: 474px;
    float: left;
    left: 2%;
    margin-bottom: 10%;
    border-radius: 10px;
}
.bg-img{
    background-image: url(image/html.png);
    position: absolute;
    width: 50px;
    height: 72px;
    border-radius: 5%;
    top: 90px;
    left: 50px;
}
.bg-img1{
    background-image: url(image/java.png);
    position: absolute;
    width: 100px;
    height: 65px;
    border-radius: 5%;
    top: 97px;
    left: 120px;
}
.bg-img2{
    background-image: url(image/c.png);
    position: absolute;
    width: 51px;
    height: 56px;
    top: 105px;
    left: 240px;
    border-radius: 5%;
}
.bg-img3{
    background-image: url(image/py.png);
    position: absolute;
    width: 100px;
    height: 55px;
    top: 106px;
    border-radius: 5%;
    left: 313px;
}
.bg-img4{
    position: absolute;
    background-color: white;
    background-image: url(image/sql.png);
    width:65px;
    height: 65px;
    top: 96px;
    left: 435px;
    border-radius: 5%;
}
.wrapper.ten{
    background-color: #0e2839;
    width: 40%;
    height: 5%;
    margin-left: 30%;
    border-radius: 10%;
}
.bounce{
    font-size: 30px;
    width: 50%;
    margin: 3rem auto;
    justify-content: center;
    -webkit-box-reflect: -20px linear-gradient(transparent, #211e2e);
}
.bounce span{
    display: inline-flex;
    color:skyblue;
    font-family: "play", sans-serif;
    animation: bounce 4s infinite;
}
@keyframes bounce{
    0%,
    50%,
    100%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-20px);
    }
}
.ten span:nth-of-type(1){
    animation-delay: 0.1s;
}
.ten span:nth-of-type(2){
    animation-delay: 0.2s;
}
.ten span:nth-of-type(3){
    animation-delay: 0.3s;
}
.ten span:nth-of-type(4){
    animation-delay: 0.4s;
}
.ten span:nth-of-type(5){
    animation-delay: 0.5s;
}
.ten span:nth-of-type(6){
    animation-delay: 0.6s;
}
.wrapper.one{
    background-color: #2f92d3;
    width: 41%;
    height: 5%;
    margin-left: 30%;
    border-radius: 10%;
}
.bounce1{
    font-size: 19px;
    width: 55%;
    margin: 3rem auto;
    justify-content: center;
    -webkit-box-reflect: -20px linear-gradient(transparent, #211e2e);
}
.bounce1 span{
    display: inline-flex;
    color:#0e2839;
    font-family: "play", sans-serif;
    animation: bounce 4s infinite;
}@keyframes bounce1{
    0%,
    50%,
    100%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-20px);
    }
}
.one span:nth-of-type(1){
    animation-delay: 0.1s;
}
.one span:nth-of-type(2){
    animation-delay: 0.2s;
}
.one span:nth-of-type(3){
    animation-delay: 0.3s;
}
.one span:nth-of-type(4){
    animation-delay: 0.4s;
}
.one span:nth-of-type(5){
    animation-delay: 0.5s;
}
.one span:nth-of-type(6){
    animation-delay: 0.6s;
}
.one span:nth-of-type(7){
    animation-delay: 0.7s;
}
.one span:nth-of-type(8){
    animation-delay: 0.8s;
}
.one span:nth-of-type(9){
    animation-delay: 0.9s;
}
.one span:nth-of-type(10){
    animation-delay: 1s;
}
.wrapper.two{
    background-color: #2fd5ff;
    width: 30%;
    height: 7%;
    margin-left: 35%;
    border-radius: 10%;
}
.bounce2{
    font-size: 19px;
    width: 50%;
    margin: 3rem auto;
    justify-content: center;
    -webkit-box-reflect: -20px linear-gradient(transparent, #211e2e);
}
.bounce2 span{
    display: inline-flex;
    color:#4c0eea;
    font-family: "play", sans-serif;
    animation: bounce 4s infinite;
}@keyframes bounce2{
    0%,
    50%,
    100%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-20px);
    }
}
.two span:nth-of-type(1){
    animation-delay: 0.1s;
}
.two span:nth-of-type(2){
    animation-delay: 0.2s;
}
.two span:nth-of-type(3){
    animation-delay: 0.3s;
}
.two span:nth-of-type(4){
    animation-delay: 0.4s;
}
.two span:nth-of-type(5){
    animation-delay: 0.5s;
}
.two span:nth-of-type(6){
    animation-delay: 0.6s;
}
.two span:nth-of-type(7){
    animation-delay: 0.7s;
}
.two span:nth-of-type(8){
    animation-delay: 0.8s;
}
.two span:nth-of-type(9){
    animation-delay: 0.9s;
}
.two span:nth-of-type(10){
    animation-delay: 1s;
}
.two span:nth-of-type(11){
    animation-delay: 2s;
}
.two span:nth-of-type(12){
    animation-delay: 3s;
}
.two span:nth-of-type(13){
    animation-delay: 4s;
}
.two span:nth-of-type(14){
    animation-delay: 5s;
}
.text6{
    position: relative;
    font-size: 24px;
    margin-top: 70%;
    left: 8dvh;
}
.text8{
    position:absolute;
    font-size: 25px;
    top: 200px;
    left: 50px;
}
.text9{
    position: absolute;
    font-size: 24px;
    top: 30%;
    left: 50px;
}
.text10{
    position: absolute;
    font-size: 24px;
    top: 75%;
    left: 50px;
}
.text11{
    position: absolute;
    font-size: 24px;
    font-style: italic;
    left: 40%;
    bottom: 30%;
    margin-top: 30%;
    color:darkblue;
}
footer{
    text-align: right;
    padding: 3px;
    background-color: white;
    width: 199%;
    margin-top: 80%;
    border-radius: 2%;
}
.fa{
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 100px;
    width: 30px;
    border-radius: 10%;
    text-decoration: none;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-instagram{
    background:rgb(181, 27, 99);
    color: white;
}
.fa-linkedin{
    background-color: #2f4dd3;
    color: white;
}
.map{
    font-size: 15px; 
    float: left;
    text-align: left;
    margin-left: 5%;
}